{:miaomfood/meta
 {:txes
  [[
 ;;; website
    {:db/id #db/id[:db.part/db]
     :db/ident :WebSite/name
     :db/valueType :db.type/string
     :db/unique :db.unique/identity
     :db/cardinality :db.cardinality/one
     :db/doc "网站标题"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :WebSite/alternativeName
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "网站副标题"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :WebSite/description
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "网站描述"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :WebSite/notices
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "布告栏"
     :db.install/_attribute :db.part/db}
    ;; notices
    {:db/id #db/id[:db.part/db]
     :db/ident :notice/content
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "布告内容"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :notice/duration
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "展示时长，单位秒"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :notice/priority
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "布告优先级"
     :db.install/_attribute :db.part/db}

 ;;; Global Settings

    {:db/id #db/id[db.part/db]
     :db/ident :threshold/oldCustomer
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "熟客门槛"
     :db.install/_attribute :db.part/db}

 ;;; Restaurant
    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/name
     :db/valueType :db.type/string
     :db/unique :db.unique/identity
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅名称"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/description
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅描述"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/telephone
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅电话"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/streetAddress
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅地址"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/hasMap
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅地图链接"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/openingHours
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/many
     :db/doc "营业时间"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/currenciesAccepted
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "结算币种"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/priceRange
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "标价范围"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/paymentAccepted
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "付款方式"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/acceptsReservations
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "餐厅是否接受预定"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/isOpen
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "是否正在营业中"
     :db/noHistory true
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/servesCuisine
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/many
     :db/doc "经营菜系"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/makesOffer
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "有偿服务"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :makesOffer/itemOffered
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "服务内容"
     :db.install/_attribute :db.part/db}

;;; service
    {:db/id #db/id[:db.part/db]
     :db/ident :Service/description
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "服务描述"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Service/serviceType
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "服务类型"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Service/areaServed
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "服务区域说明"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Service/hoursAvailable
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/many
     :db/doc "服务时段"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Service/offers
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "服务项目"
     :db.install/_attribute :db.part/db}

 ;;; menu
    {:db/id #db/id[:db.part/db]
     :db/ident :Restaurant/hasMenu
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "餐厅菜单"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Menu/inLanguage
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "菜单语言"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Menu/name
     :db/valueType :db.type/string
     :db/unique :db.unique/identity
     :db/cardinality :db.cardinality/one
     :db/doc "菜单名称"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Menu/hasMenuSection
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "所含菜品种类"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuSection/name
     :db/valueType :db.type/string
     :db/unique :db.unique/identity
     :db/cardinality :db.cardinality/one
     :db/doc "品类名称"
     :db/fulltext true
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuSection/hasMenuItem
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "所含品目"
     :db.install/_attribute :db.part/db}

 ;;; MenuItem
    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/name
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/value
     :db/fulltext true
     :db/doc "菜品名称"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/alternateName
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "菜品简称"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/productID
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "菜品ID"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/description
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "菜品描述"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/image
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/many
     :db/doc "菜品图片文件名"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :MenuItem/offers
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "可选规格"
     :db.install/_attribute :db.part/db}

;;; offer (used by MenuItem or service)
    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/name
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "餐品规格或服务项目名称，枚举型"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/priceCurrency
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "标价币种"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/price
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "售价"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/inventoryLevel
     :db/noHistory true
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "库存"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/availability
     :db/noHistory true
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "是否估清"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :spec/duplexable
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/noHistory true
     :db/doc "能否双拼？"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/areaServed
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "地区限制"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/deliveryLeadTime
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "从确认订单到出餐所需要的时间"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Offer/soldTotal
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/noHistory true
     :db/doc "供出的offer计数"
     :db.install/_attribute :db.part/db}

;;; Order
    {:db/id #db/id[:db.part/db]
     :db/ident :Order/orderNumber
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/value
     :db/fulltext true
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/account
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "创建订单的账户"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/comment
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "订单备注"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/isGift
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "是否需要礼盒包装"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/amount
     :db/valueType :db.type/float
     :db/cardinality :db.cardinality/one
     :db/doc "订单总额"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/orderDate
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "订单创建的日期及时间"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/orderStatus
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "订单状态，枚举值"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/client_ip
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "发起订单的客户端IPv4 地址"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Customer/name
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "收餐客户姓名"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Customer/telephone
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "收餐客户电话"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Customer/address
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "收餐客户地址"
     :db.install/_attribute :db.part/db}

;;; delivery info component
    {:db/id #db/id[:db.part/db]
     :db/ident :Order/customer
     :db/valueType :db.type/ref
     :db/isComponent true
     :db/cardinality :db.cardinality/one
     :db/doc "订单客户信息"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/orderDelivery
     :db/valueType :db.type/ref
     :db/isComponent true
     :db/cardinality :db.cardinality/one
     :db/doc "订单配送信息"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :ParcelDelivery/deliveryAddress
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "配送地址"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :ParcelDelivery/itemShipped
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "配送清单"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :ParcelDelivery/provider
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "送餐员"
     :db.install/_attribute :db.part/db}

;;; Order items component
    {:db/id #db/id[:db.part/db]
     :db/ident :Order/OrderedItems
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "订单条目"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :OrderItem/productID
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "订单条目对应的菜品ID"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/isComponent true
     :db/valueType :db.type/ref
     :db/ident :OrderItem/offers
     :db/cardinality :db.cardinality/one
     :db/doc "订单条目对应的菜品规格"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :OrderItem/orderQuantity
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "订单条目对应的菜品订购数量"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :cuisineItem/duplex
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "双拼组"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/schedule-day
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "预订日期，0表示当日，1表示次日，以此类推'"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :Order/schedule-time
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "预订时间，字符串"
     :db.install/_attribute :db.part/db}

;;; Order coupons component
    {:db/id #db/id[:db.part/db]
     :db/ident :Order/coupons
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/isComponent true
     :db/doc "促销码"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/code
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "促销码"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/min-total
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "促销码允许使用的最小订单总额"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/discounting
     :db/valueType :db.type/float
     :db/cardinality :db.cardinality/one
     :db/doc "折扣幅度"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/operator
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "折扣方式"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/quota
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "促销码数量"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :coupon/deadline
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "促销码失效日期，单位Unix时间戳"
     :db.install/_attribute :db.part/db}

;;; Order charge componend
    {:db/id #db/id[:db.part/db]
     :db/ident :Order/charge
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/isComponent true
     :db/doc "收费凭证"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/id
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "收费凭证号"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/amount
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "订单总金额（必须大于0），单位为人民币元"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/paymentMethod
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "支付渠道，枚举值"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/created
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "支付创建时的 Unix 时间戳"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/time_paid
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/doc "支付完成时的 Unix 时间戳"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :charge/transaction_no
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "支付平台交易流水号"
     :db.install/_attribute :db.part/db}

;;; user
    {:db/id #db/id[:db.part/db]
     :db/ident :user/id
     :db/valueType :db.type/uuid
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/doc "用户ID"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/name
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/doc "用户名"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/telephone
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "手机号"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/gender
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/one
     :db/doc "性别"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/address
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/fulltext true
     :db/doc "地址"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/email
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "邮件"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/wechat
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "微信ID"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/qq
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/unique :db.unique/identity
     :db/fulltext true
     :db/doc "QQ号"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/password
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/one
     :db/doc "哈希密码"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/totalConsume
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/noHistory true
     :db/doc "消费总额"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/totalPurchase
     :db/valueType :db.type/long
     :db/cardinality :db.cardinality/one
     :db/noHistory true
     :db/doc "订购次数"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/likes
     :db/valueType :db.type/ref
     :db/cardinality :db.cardinality/many
     :db/doc "喜爱的菜品"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/isNew
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "是否新用户"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/isRegular
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "是否熟客"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/isSuspicious
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "是否可疑"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/isBlocked
     :db/valueType :db.type/boolean
     :db/cardinality :db.cardinality/one
     :db/doc "是否被锁"
     :db.install/_attribute :db.part/db}

    {:db/id #db/id[:db.part/db]
     :db/ident :user/client_ip
     :db/valueType :db.type/string
     :db/cardinality :db.cardinality/many
     :db/doc "最近登录ip"
     :db.install/_attribute :db.part/db}

;;; Functions


;;; Enums
    [:db/add #db/id[:db.part/user] :db/ident :service.areaServed/乌鲁木齐]

    [:db/add #db/id[:db.part/user] :db/ident :currency/CNY]
    [:db/add #db/id[:db.part/user] :db/ident :language/zh-CN]

    [:db/add #db/id[:db.part/user] :db/ident :offer.name/送餐服务]

    [:db/add #db/id[:db.part/user] :db/ident :spec.name/八寸]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/十寸]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/培根]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/海鲜]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/份]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/套]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/两对]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/六对]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/杯]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/热]
    [:db/add #db/id[:db.part/user] :db/ident :spec.name/冰]

    [:db/add #db/id[:db.part/user] :db/ident :gender/Male]
    [:db/add #db/id[:db.part/user] :db/ident :gender/Female]
    [:db/add #db/id[:db.part/user] :db/ident :gender/Others]

    [:db/add #db/id[:db.part/user] :db/ident :ItemAvailability/inStock]
    [:db/add #db/id[:db.part/user] :db/ident :ItemAvailability/SoldOut]
    [:db/add #db/id[:db.part/user] :db/ident :ItemAvailability/SoldOut]

    [:db/add #db/id[:db.part/user] :db/ident :OrderStatus/OrderCancelled]
    [:db/add #db/id[:db.part/user] :db/ident :OrderStatus/OrderDelivered]
    [:db/add #db/id[:db.part/user] :db/ident :OrderStatus/OrderInTransit]
    [:db/add #db/id[:db.part/user] :db/ident :OrderStatus/OrderPaymentDue]
    [:db/add #db/id[:db.part/user] :db/ident :OrderStatus/OrderProcessing]

    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/Cash]
    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/alipay]
    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/alipay_wap]
    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/upacp]
    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/wx]
    [:db/add #db/id[:db.part/user] :db/ident :PaymentMethod/wx_pub]

    [:db/add #db/id[:db.part/user] :db/ident :cupon.operator/直减]
    [:db/add #db/id[:db.part/user] :db/ident :cupon.operator/折扣]
    ]]}}
